<a href="#end">Jump to Last</a>
<br/>
<br/>
<table border=2 cellpadding=2>
  <tr>
    <th colspan="1">Date</th>
    <th colspan="1">Num</th>
    <th colspan="1">Payee / Category / Memo</th>
    <th colspan="1">Type</th>
    <th colspan="1">Clr</th>
    <th colspan="1">Amount</th>
    <th colspan="1">Balance</th>
  </tr>
  <% balance = @starting_balance %>
  <% i=0 %>
  <% for @transaction in @transactions %>
  <% balance += transaction.amount 
     i += 1 %>
     <%= render :partial => 'transactions/table_row' :locals=>{:transaction=>transaction, :balance=>balance} %>
  <% end %>
  <%= render :partial => 'new_trans' %>
</table>
